
/* Google Font Use */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&display=swap');
*{
    margin:0px;
    padding: 0px;
}
*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Figtree', sans-serif;
}
.hero-section{
    background: #F0FFF0;
}
.container{
    max-width: 1200px;
}

.btn{
    background-color: #FF468F;
    color: #F0FFF0;
}
.fs-1{
    color: #FF468F;
}
/*Start Header css  */
.header button.btn.btn-outline-gray {
    margin-left: -38px;
}
.header form.d-flex.ps-5.pe-5 {
    width: 497px;
}
/* ENd Header */

/* Start Slider */
.slider1 {
 background-color: #FCEAE8;
}
